# Seminar: Lists, dictionaries, functions, exceptions

### Task 1. 

Write a function which will sum up all values in the list

#### a. For the case when input is list of integers.

In [21]:
def sum_up(my_list):
    res_of_sum = 0
    for num in my_list:
        res_of_sum += num
    return res_of_sum

res_of_sum += num 

is equal to:

res_of_sum = res_of_sum + num

In [6]:
sum_up([1,2,3])

6

#### b. What will be if the input is list of strings?

In [8]:
def sum_up_str(my_list):
    res_of_sum = ''
    for el in my_list:
        res_of_sum += el
    return res_of_sum

In [10]:
sum_up_str(['a', 'd', 'mm'])

'admm'

#### c. Rewrite the function in the way that we will get a message 'can not work with not numerical types' if list contains not numerical elements.

In [16]:
def sum_up_ex(my_list):
    res_of_sum = 0
    for num in my_list:
        try:
            res_of_sum += num
        except Exception:
            print('can not work with not numerical types')
            return
    return res_of_sum

In [17]:
sum_up_ex([1, 4, 'd'])

can not work with not numerical types

#### d. Why do we need to write the exceptions?

In [19]:
print('Step 1')
print(f'Step 2: {sum_up_ex([1, 4, "d"])}')
print('Step 3')

Step 1
can not work with not numerical types
Step 2: None
Step 3

In [22]:
print('Step 1')
print(f'Step 2: {sum_up([1, 4, "d"])}')
print('Step 3')

Step 1

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

### Task 2.

In this task we will work with the dictionary which is the plan for the grocery store:

In [26]:
dic_food = {'apple':5, 'orange':4, 'onion':9}

#### a. Calculate how many products in total do we have. How many fruits?

In [30]:
sum(dic_food.values())

18

In [35]:
sum([v for v in dic_food.values()])

18

In [38]:
list_fruits = ['apple', 'orange']
sum([v for k, v in dic_food.items() if k in list_fruits])

9

#### b. Add one more apple and change the numbers of onions to 1

In [39]:
dic_food

{'apple': 5, 'orange': 4, 'onion': 9}

In [40]:
dic_food['apple'] += 1

In [41]:
dic_food

{'apple': 6, 'orange': 4, 'onion': 9}

In [42]:
dic_food['onion'] = 1

In [43]:
dic_food

{'apple': 6, 'orange': 4, 'onion': 1}

#### c. Make the same dictionary from the lists:

In [44]:
prod_name = ['apple', 'orange', 'onion']
prod_amount = [1,5,5]

In [46]:
new_dict = {name:amount for name,amount in zip(prod_name, prod_amount)}
new_dict

{'apple': 1, 'orange': 5, 'onion': 5}

#### d. What will happened if we have dublicates in the list of keys?

In [48]:
prod_name = ['apple', 'orange', 'onion', 'apple']
prod_amount = [1,5,3,2]

In [49]:
{name:amount for name,amount in zip(prod_name, prod_amount)}

{'apple': 2, 'orange': 5, 'onion': 3}

### Task 3 (from HW) leetcode 219. Contains Duplicate II
https://leetcode.com/problems/contains-duplicate-ii/

Given an integer array nums and an integer k, return true if there are two distinct indices i and j in the array such that 

nums[ i ] == nums[ j ] and abs(i - j) <= k.

In [52]:
def containsNearbyDuplicate(nums, k):
    """
    :type nums: List[int]
    :type k: int
    :rtype: bool
    """
    if len(set(nums))==len(nums):
            return False
    for n in set(nums):
        ind = [i for i,j in enumerate(nums) if j==n]
        if len(ind)>1:
            r = min([abs(ind[i]-ind[i+1])  for i in range(len(ind)-1)])
            if r<=k:
                return True
    return False

In [53]:
containsNearbyDuplicate([1,4,5,1], 2)

False